<div class="form-group">
    <label class="col-sm-2 control-label">Documento: </label>
    <div class="col-sm-10">
      <p class="form-control-static">{{document}}</p>
    </div>
  </div>
<div>
  <h1>Aplica a la convocatoria</h1>
    <br />
    <p>Para aplicar a la convocatoria debes subir los siguientes archivos:</p>
</div>
<br/>

<div class="form-group">
    <label class="col-sm-2 control-label">- Cedula  (formato pdf)</label>   
  </div>   
<div class="form-group">
    <label class="col-sm-2 control-label">- notas (formato pdf)</label>   
  </div>   
  <div class="form-group">
    <label class="col-sm-2 control-label">- foto (formato png)</label>   
  </div>   

<!--<app-upload-drag-drop-file [allowedMimeType]="['image/png', 'application/pdf']" 
[maxFileSize]="1000576" [documento]="document" [service]="'convocatoria/aplicar'" ></app-upload-drag-drop-file>-->
<app-upload-multiple-file [allowedMimeType]="['image/png', 'application/pdf']" 
[maxFileSize]="1000576" [documento]="document" [service]="'convocatoria/aplicar'" ></app-upload-multiple-file>
