<h1>Bienvenido a SCB - ArtSoft!</h1>

<div *ngIf="user !== undefined && user !== null">
  <h2>Hola {{ user.name }} !</h2>

  <!-- links de solicitante -->
  <div *ngIf="user.role == 'Solicitant'">
    Aca irian links solo de solicitante....
  </div>
  <div *ngIf="user.role == 'Administrator'">
    Aca irian links solo de Admin....
  </div>
  <div *ngIf="user.role == 'Oferent'">
    Aca irian links solo de oferente....
  </div>
</div>
 


<!-- navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">    
    <div class="navbar-header">      
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">SCB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/" routerLinkActive="active">Quienes Somos<span class="sr-only"></span></a>
        </li>
        <li>
          <a routerLink="/demoUploadFiles" routerLinkActive="active">Demo carga archivos</a>
        </li>        
        <li>
          <a routerLink="/convocatories" routerLinkActive="active">Ver convocatorias</a>
        </li>   
        <li *ngIf="user == undefined || user === null">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>    
        <li *ngIf="user !== undefined && user !== null">
          <button (click)="logout();">Logout</button>                   
       </li>
      </ul>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



   <!--<nav>
     <a routerLink="/" routerLinkActive="active">Ver Convocatorias</a>
     <a routerLink="/demoUploadFiles" routerLinkActive="active">Ver demo carga archivos</a>     
   </nav>-->
   <router-outlet></router-outlet>

Footer ---
   @ArtSoft
