<div *ngIf="convocatory" >
  <div class="page-header">
    <h1>Convocatoria {{convocatory.name}}</h1>
  </div>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Cupos: </label>
    <div class="col-sm-10">
      <p class="form-control-static">{{convocatory.capacity}}</p>
    </div>
  </div>   
  <app-convocatory-apply [document]="123456789" ></app-convocatory-apply>
</form>

<button (click)="goBack()" ><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" >
  </span>back</button>


</div>