<div class="parallax-container parallax-1 valign-wrapper">
  <img src="{{fullImagePath}}" style="width: 100%">
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="col s4">
      <a href="#">
        <div class="center promo promo-example">
          <i class="material-icons home-icons">assignment</i>
          <p class="promo-caption">Convocatorias</p>
          <p class="light center">Ultimas convocatorias vigentes.</p>
        </div>
      </a>
    </div>
    <div class="col s4">
      <a href="#">
        <div class="center promo promo-example">
          <i class="material-icons home-icons">location_city</i>
          <p class="promo-caption">Entidades</p>
          <p class="light center">Entidades registradas.</p>
        </div>
      </a>
    </div>
    <div class="col s4">
      <a href="#">
        <div class="center promo promo-example">
          <i class="material-icons home-icons">language</i>
          <p class="promo-caption">Noticias</p>
          <p class="light center">Ultimas noticias.</p>
        </div>
      </a>
    </div>
  </div>
  <!-- <pizza-dialog ></pizza-dialog> -->
  <!-- <modal-usuario>Loading Material Docs example...</modal-usuario> -->
</div>